@media screen and (min-width: 640px) {}

@media screen and (max-width:639px) {}

body {
    background-color: #ddd;
    overflow-y: scroll;
}

div.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 0;
    border-bottom: 0;
    box-shadow: 0px 0px 15px #aaa;
}

// aside {
// 	position: fixed;
// 	bottom: 0;
// 	padding: 10px;
// 	width: 100%;
// 	max-width: 1200px;
// 	text-align:right;
//     z-index: 9999;
// 	a {
// 	    // right: 15px;
// 	    // bottom: 15px;
// 	    display: inline-block;
// 	    text-align: center;
// 	    line-height: 50px;
// 	    background: #bc003b;
// 	    font-weight: bold;
// 	    color: white;
// 	    width: 50px;
// 	    height: 50px;
// 	    border-radius: 25px;
// 	    cursor: pointer;
// 	}
// }

aside {
	a {
		position: fixed;
		bottom: 10px;
	    width: 50px;
	    height: 50px;
	    z-index: 9999;
	    display: inline-block;
	    text-align: center;
	    line-height: 50px;
	    background: #bc003b;
	    font-weight: bold;
	    color: white;
	    border-radius: 25px;
	    cursor: pointer;
	}
	a#asidesave {
		right: 120px;

	}
	a#asidenew {
		right: 65px;

	}
	a#menutoggle {
		right: 10px;

	}
}


@media screen and (min-width: 640px) {
    aside {
        display: none;
    }
}

@media screen and (max-width: 639px) {
    aside {
        display: block;
    }
    // div.prev, div.next {
        // display: none;
    // }        
    #nav_prev, #nav_next {
       width: 15px;
    }        
    .jstree-icon {
    	zoom: 1.3;
    	width: 30px !important;
    	// height: 35px !important;
    	text-align: center;
    	// padding: 10px !important;
    	margin-left:2px !important;
    	margin-top:-3px !important;
    	// padding-left:20px !important;
    }
}

.hidden {
    visibility: hidden;
    height:0px;
    overflow-y:hidden;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #2d2d2d;
    z-index:1000;
    color: #e5e5e5;
    @media screen and (max-width: 639px) {
    	position: relative;
        width: 100%;
    }
    header {
        position: absolute;
        top: 0px;
        left: 40px;
        width: 100%;
        height: 80px;
        background-color: #bc003b;
        z-index: 1001;
        h1 {
            position: absolute;
            top: 10px;
            left: 20px;
            font-size: 16px;
            a {
                color: #E26C6C;
            }
        }
        input {
            position: absolute;
            top: 41px;
            left: 14px;
            padding: 6px 10px;
            border-radius: 16px;
            border: 0;
        }
    }
    div.scroll {
        padding: 100px 0px 50px 0px;
        position: relative;
        left:40px;
        width: 290px;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #3f3030;
	    @media screen and (max-width: 639px) {
	        width: 100%;
	    }        
        ul {
            padding-bottom: 5px;
        }
        li:first-child {
            border-top-left-radius: 10px;
        }
        li:last-child {
            border-bottom-left-radius: 10px;
        }
        >ul>li {
            background-color: #3f3030 !important;
            >ul>li {
                background-color: #483737 !important;
                >ul>li {
                    background-color: #604A4A !important;
                    >ul>li {
                        background-color: #6E5353 !important;
                        >ul>li {
                            background-color: #7D5D5D !important;
                            >ul>li {
                                background-color: #926C6C !important;
                                >ul>li {
                                    background-color: #9E7878 !important;
                                    >ul>li {
                                        background-color: #AE8585 !important;
                                        >ul>li {
                                            background-color: #BD9393 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .jstree-node {
            margin-left: 10px;
            font-size: 13px;
        }
        div.jstree-wholerow-clicked {
            background: white;
        }
        div.jstree-wholerow-hovered {
            background: #bbb;
        }
        a.jstree-hovered,
        a.jstree-clicked {
            color: #3f3030;
        }
    }
	div.gnb {
	    position: absolute;
	    top: 0;
	    width: 40px;
	    z-index: 2000;
	    text-align: center;
	    border-bottom-right-radius: 10px;
	    a {
	        display: block;
	        width: 32px;
	        line-height: 30px;
	        background: #2d2d2d;
	        color: white;
	        margin: 3px auto;
	    }
	    a.colored {
	        color: gray;
	    }
	    div.editor {
	        margin-top: 20px;
	        a {
	            font-size: 13px;
	        }
	    }
	}
}

div.next {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    a {
        display: inline-block;
        color: #38262C;
        width: 30px;
        height: 100%;
        line-height: 100%;
        text-align: center;
        text-indent: -9999px;
        line-height: 40px;
    }
    a:hover {
        background-color: #eee;
        border-left: 1px solid #ccc;
        text-indent: 0px;
    }
}
div.prev {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    a {
        display: inline-block;
        color: #38262C;
        width: 30px;
        height: 100%;
        line-height: 100%;
        text-align: center;
        text-indent: -9999px;
        line-height: 40px;
    }
    a:hover {
        background-color: #eee;
        border-right: 1px solid #ccc;
        text-indent: 0px;
    }
}


article {
	position:relative;
    margin-left: 300px;
    background: #fff;
    z-index: 500;
    padding: 150px 40px 100px 40px;
    // text-align: justify;
    @media screen and (max-width: 639px) {
        margin-left: 0px;
        padding: 80px 20px 20px 20px;
        padding-bottom: 80px;
        font-size:0.95em;
    }
    >h1 {
        position: absolute;
        top: 70px;
        min-width: 200px;
        font-family: 'Raleway', 'Nanum Gothic';
	    @media screen and (max-width: 639px) {
	        top: 30px;
	    }        
    }
    >p.author {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 501;
        background-color: #2d2d2d;
        color: white;
        font-size: 12px;
        text-align: right;
        margin: 3px;
        margin-left: 300px;
        padding: 1px 3px;
    }
    .content {
        height: 100%;
        min-height: 100px;
        line-height: 1.4;
        // tab-size: 4;
        font-family: 'Raleway', 'Nanum Gothic';
        a {
            text-decoration: underline;
        }
        p {
            margin-bottom: 10px;
        }
        blockquote {
            margin: 12px 15px 23px 15px;
            padding: 20px 20px;
            position: relative;
            background-color: #d8d8d8;
            border-radius: 15px;
            word-break: break-all;
        }
        pre {
            margin: 30px 0px;
            padding: 15px;
            color: black;
            background-color: #d6d6d6;
            border-radius: 15px;
            box-shadow: 0px 0px 45px #afafaf;
            code {
                display: block;
                padding: 15px;
                overflow-x: scroll;
                color: white;
                background-color: #444;
                font-family: 'Raleway', 'Nanum Gothic';
            }
        }
        img {
            max-width: 100%;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 700;
    background-color: #2d2d2d;
    color: white;
    font-size: 14px;
    text-align: right;
    margin-left: 300px;
    padding: 15px 15px 10px 15px;
    height: 45px;
    overflow: hidden;
    @media screen and (max-width: 639px) {
        display: none;
    }
}

div.login {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 630px;
    height: 240px;
    background: #bc003b;
    margin-top: -200px;
    margin-left: -300px;
    border-radius: 20px;
    padding: 50px;
    label i {
        color: #ffffff;
        display: block;
        width: 70px;
        text-align: center;
        text-shadow: 1px 1px 1px black;
    }
    input {
        padding: 15px;
        margin-left: 15px;
        font-size: 20px;
        border-radius: 1px;
        border: 0;
    }
    input[type=submit] {
        position: absolute;
        padding: 44px 20px;
        font-size: 30px;
        top: 56px;
        right: 60px;
        color: #bc003b;
        background: #f7f7f7;
        border: 0;
        font-weight: bold;
    }
    p {
        position: absolute;
        bottom: 20px;
        left: 70px;
        color: white;
    }
}