<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>스프링노트</title>
	<script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore-min.js"></script>
	<script type="text/javascript" src="/static/js/backbone-min.js"></script>
	<link rel="stylesheet" href="/static/js/jstree/themes/default/style.min.css">
	<script type="text/javascript" src="/static/js/jstree/jstree.min.js"></script>

</head>
<body>
	<div class="side">
		<h1><a href="/">&lt;<span>/</span>springnote&gt;</a></h1>
		<div id="tree">
			<ul>
				<li>클린코드를 위한 테스트주도개발
					<ul>
						<li>1
							<ul>
								<li>1-1</li>
								<li>1-2</li>
							</ul>
						</li>
						<li>2
							<ul>
								<li>2-1</li>
								<li>2-2</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="main">
		<h1>스프링노트</h1>
		<article>
			스프링노트에 온 것을 환영한다...
		</article>		
	</div>

	<script>
		$(document).ready(function(){
			// var jstree = $('#tree').jstree({
			// 	"plugins" : [ "state" ]
			// });
			// jstree.on("select_node.jstree", function (e, data) {
			// 	$('#tree').jstree('save_state');
			// }) ;
			// // jstree.on("activate_node.jstree", function(e,data){
			// // 	window.location.href = data.node.a_attr.href;
			// // })
		})
	</script>

	<script>
		$(document).ready(function(){
			var Note = Backbone.Model.extend({
				defaults:{
					title:'',
					text:''
				}
			});
			var NotesCollection = Backbone.Collection.extend({
				model:Note,
				url:'/api/v1/note/'
			});

			var notes = new NotesCollection();
			notes.fetch({
				success:function(){
					console.log(notes.models[0].attributes.objects);
					var jstree = $('#tree').jstree({
						"plugins" : [ "state" ]
					});
					jstree.on("select_node.jstree", function (e, data) {
						$('#tree').jstree('save_state');
					}) ;
				}
			});
		})
		
		// //Creating A New Resource (POST)
		// var data = JSON.stringify({
		//     "body": "This will prbbly be my lst post.",
		//     "pub_date": "2011-05-22T00:46:38",
		//     "slug": "another-post",
		//     "title": "Another Post",
		//     "user": "/api/v1/user/1/"
		// });
		// $.ajax({
		//   url: 'http://localhost:8000/api/v1/entry/',
		//   type: 'POST',
		//   contentType: 'application/json',
		//   data: data,
		//   dataType: 'json',
		//   processData: false,
		//   error: function(e){console.log(e)}
		// })

		// //Updating An Existing Resource (PUT)
		// var data = JSON.stringify({
		//     "body": "This will prbbly be my last post.",
		//     "pub_date": "2011-05-22T00:46:38",
		//     "slug": "another-post",
		//     "title": "Another Post",
		//     "user": "/api/v1/user/1/"
		// });
		// $.ajax({
		//   url: 'http://localhost:8000/api/v1/entry/5/',
		//   type: 'PUT',
		//   contentType: 'application/json',
		//   data: data,
		//   dataType: 'json',
		//   processData: false,
		//   error: function(e){console.log(e)}
		// })


		// //Partially Updating An Existing Resource (PATCH)
		// var data = JSON.stringify({
		//     "body": "This actually is my last post.",
		//     "pub_date": "2011-05-22T00:46:38",
		//     "slug": "another-post",
		//     "title": "Another Post",
		//     "user": "/api/v1/user/1/"
		// });
		// $.ajax({
		//   url: 'http://localhost:8000/api/v1/entry/5/',
		//   type: 'PATCH',
		//   contentType: 'application/json',
		//   data: data,
		//   dataType: 'json',
		//   processData: false,
		//   error: function(e){console.log(e)}
		// })

		// //Updating A Whole Collection Of Resources (PUT)
		// var data = JSON.stringify(
		// 	{
		// 		"objects":[
		// 			{
		// 				"body":"Welcome to my blog!",
		// 				"id":"1",
		// 				"pub_date":"2011-05-20T00:46:38",
		// 				"resource_uri":"/api/v1/entry/1/",
		// 				"slug":"first-post",
		// 				"title":"First Post",
		// 				"user":"/api/v1/user/1/"
		// 			},
		// 			{
		// 				"body":"I'm really excited to get started with this new blog. It's gonna be great!",
		// 				"id":"3",
		// 				"pub_date":"2011-05-20T00:47:30",
		// 				"resource_uri":"/api/v1/entry/3/",
		// 				"slug":"my-blog",
		// 				"title":"My Blog",
		// 				"user":"/api/v1/user/1/"
		// 			}
		// 		]
		// 	}
		// );
		// $.ajax({
		//   url: 'http://localhost:8000/api/v1/entry/',
		//   type: 'PUT',
		//   contentType: 'application/json',
		//   data: data,
		//   dataType: 'json',
		//   processData: false,
		//   error: function(e){console.log(e)}
		// })

		// //Deleting Data(DELETE)
		// $.ajax({
		//   url: 'http://localhost:8000/api/v1/entry/1/',
		//   type: 'DELETE',
		//   contentType: 'application/json',
		//   dataType: 'json',
		//   processData: false,
		//   error: function(e){console.log(e)}
		// })

		// //Deleting A Whole Collection Of Resources(DELETE)
		// $.ajax({
		//   url: 'http://localhost:8000/api/v1/entry/',
		//   type: 'DELETE',
		//   contentType: 'application/json',
		//   dataType: 'json',
		//   processData: false,
		//   error: function(e){console.log(e)}
		// })		

	</script>
</body>
</html>