<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>스프링노트</title>
	<script type="text/javascript" src="/static/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/static/js/underscore-min.js"></script>
	<script type="text/javascript" src="/static/js/backbone-min.js"></script>

</head>
<body>
	<div class="side">
		<h1><a href="/">&lt;<span>/</span>springnote&gt;</a></h1>		
		<div>
			<ul id="notes">

			</ul>
		</div>
		<script type="text/template" id="noteTemplate">
			<p data-uri="<%=resource_uri%>"><%= title %></p>
		</script>
		<script type="text/template" id="notesTemplate">

		</script>			
		</div>
	</div>
	<div class="main">
		<h1>스프링노트</h1>
		<article>
			스프링노트에 온 것을 환영한다...
		</article>		
	</div>

	<script>
		$(document).ready(function(){

			var Note = Backbone.Model.extend({
			});

			var Notes = Backbone.Collection.extend({
				model: Note,
				url:'/api/v1/note/'
			});

			var NoteView = Backbone.View.extend({
				tagName: 'li',
				template: _.template($('#noteTemplate').html()),
				render: function(){
					this.$el.html(this.template(this.model.toJSON()));
					return this;
				}
			});

			var NotesView = Backbone.View.extend({

				el : "#notes",

				initialize : function(options){
					this.collection.bind('sync', _.bind(this.addAll, this));
				},
				
				addOne : function(model) {
					var note = new NoteView ({ model : model })
					this.$el.append(note.render().el)
				},
				
				addAll : function(){
					var that = this;
					this.collection.each(function(model){
						that.addOne(model);
					});
				},
			  
				render : function() {
					this.$el.html(this.template());
					return this;
				}

			});

			var notes = new Notes();
			notes.fetch({
				success:function(){
					var notesView = new NotesView({collection:notes})
				}
			});
		})
		

	</script>
</body>
</html>