<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />	
	<title>스프링노트</title>
	<link rel="stylesheet" href="/static/css/reset.css">
	<link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/font-awesome-4.6.1/css/font-awesome.min.css">
</head>
<body>
	<div class="login">

		<form method="POST" action="{% url 'login' %}">{% csrf_token %}

			<p>아이디</p>
			<p>{{form.username}}</p>

			<p>비밀번호</p>
			<p>{{form.password}}</p>

			<input type="submit" value="LOGIN">
			<input type="hidden" name="next" value="{{next}}">

			{% if form.errors %}
			<p>ID나 비밀번호가 일치하지 않습니다.</p>
			{% endif %}

		</form>

	</div>
</body>
</html>